@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #222;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fafafa;
    line-height: 140%;
}

body > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}

.text-wrapper {
    position: relative;
    height: calc(100% - 110px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -70px;
    padding: 0 1rem;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    margin-left: -6px;
    font-style: normal;
    font-weight: 800;
    font-size: 7.5rem;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h2 {
    margin-left: -6px;
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}

h2::before {
    content: "TEAM";
    position: absolute;
    left: 0;
    color: #75fe29;
    opacity: 0.25;
    font-size: 20rem;
    z-index: -1;
    -webkit-transform: translateY(-105%);
    -ms-transform: translateY(-105%);
    transform: translateY(-105%);
}

h3 {
    height: 20%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 140%;
    width: 50%;
}

button:hover {
    cursor: pointer;
}
button {
    background: #eee;
    outline: none;
    border-radius: 50px;
    position: relative;
    padding: 0.5rem 2rem;
    overflow: hidden;
    font-size: 1rem;
    border: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/*button:before (attr data-hover)*/
button:hover:before {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
button:before {
    content: attr(data-hover);
    position: absolute;
    top: 0.5rem;
    left: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    opacity: 0;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
/*button div (button text before hover)*/
button:hover div {
    opacity: 0;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
}
button div {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.footnote {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    bottom: 0;
}

/*--------------------------------------*/

.card-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card {
    height: 300px;
    width: 525px;
    -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    background: #f4f4f4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 25px;
    position: relative;
}

.card > img {
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.card .text {
    padding: 2rem;
}

.card h4 {
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 10px;
    position: relative;
    line-height: 100%;
}

.card h4::before {
    content: "";
    position: absolute;
    width: 156px;
    height: 5px;
    left: 0px;
    top: -2rem;
    background: #75fe29;
}

.card h5 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.card p {
    line-height: 140%;
    font-size: 1rem;
}

.card .social-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
}

.card .social-wrapper img {
    height: 25px;
}
